@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row title" aria-labelledby="aspnetTitle">
        <h1 id="title">PepperPlan</h1>
        @*<p class="lead">PepperPlan helps you create and edit your 4 year plan. It also lets you move classes around while checking for prerequisites!</p>*@
        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>
    @*<section class="row plan">
            <section class="year">
                <section id="b1">
                    <h5>Fall 22/23 </h5>
                    <div class="container-lg">
                        <div class="draggable" draggable="true"><p> COSC 320 </p> </div>
                        <div class="draggable" draggable="true"><p> COSC 210 </p>  </div>
                        <div class="draggable" draggable="true"><p> ENG 380 </p>  </div>
                    </div>
                </section>
                <section id="b2">
                    <h5>Spring 23/24 </h5>
                    <div class="container-lg">
                        <div class="draggable" draggable="true"> <p> COSC 450 </p>  </div>
                    </div>
                </section>
                <section id="s1">
                    <h5>Summer 23/24 </h5>
                    <div class="container-lg">
                        <div class="draggable" draggable="true"> <p> COSC 465 </p>  </div>
                        <div class="draggable" draggable="true"> <p> HUM 101 </p>  </div>
                        <div class="draggable" draggable="true"> <p> HUM 212 </p>  </div>
                        <div class="draggable" draggable="true"> <p> HUM 313 </p>  </div>
                    </div>
                </section>
            </section>
            <section class="year">
                <section id="b3">
                    <h5>Fall 23/24 </h5>
                    <div class="container-lg">

                    </div>
                </section>
                <section id="b4">
                    <h5>Spring 24/25 </h5>
                    <div class="container-lg">
                    </div>
                </section>
                <section id="s2">
                    <h5>Summer 24/25 </h5>
                    <div class="container-lg">
                    </div>
                </section>
            </section>
            <section class="year">
                <section id="b5">
                    <h5>Fall 24/25 </h5>
                    <div class="container-lg">

                    </div>
                </section>
                <section id="b6">
                    <h5>Spring 25/26 </h5>
                    <div class="container-lg">
                    </div>
                </section>
                <section id="s3">
                    <h5>Summer 25/26 </h5>
                    <div class="container-lg">
                    </div>
                </section>
            </section>
            <section class="year">
                <section id="b7">
                    <h5>Fall 25/26 </h5>
                    <div class="container-lg">

                    </div>
                </section>
                <section id="b8">
                    <h5 >Spring 26/27 </h5>
                    <div class="container-lg">
                    </div>
                </section>
                <section  id="s4">
                    <h5>Summer 26/27 </h5>
                    <div class="container-lg">
                    </div>
                </section>
            </section>
            </section>
        <section class="alternative">
            <h5> Alternative Classes</h5>
            <div class="container-lg">

                </div>
            </section>*@




    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h5>Major</h5>
                <select id="major" class="form-select">
                    <option selected>Please choose your major</option>
                    <option value="BA">Business Admin</option>
                    <option value="COSC/MA">Computer Science/Math</option>
                    @*Add major as an option here*@
                </select>

                <h5>Minor</h5>

                <select class="form-select">
                    <option selected>Please choose your minor</option>
                </select>

                <h5>Freshman Year</h5>

                <select id="year" class="form-select">
                    <option selected>Please choose your year</option>
                    <option value="2020/21"> 2020-21 </option>
                    <option value="2021/22"> 2021-22 </option>
                    <option value="2022/23"> 2022-23</option>
                    <option value="2023/24"> 2023-24</option>
                </select>
                <br />
                <button onclick="pickClass();" type="submit" class="btn btn-primary margin-btm">Generate</button>

            </div>
            <div class="Fall col-lg-2 ">
                <div id="fall1" class="card semester-box">
                    <div class="card-header">
                        Fall 2022
                    </div>
                </div>

                <div id="fall2" class="card semester-box">
                    <div class="card-header">
                        Fall 2023
                    </div>

                </div>

                <div id="fall3" class="card semester-box">
                    <div class="card-header">
                        Fall 2024
                    </div>

                </div>

                <div id="fall4" class="card semester-box">
                    <div class="card-header">
                        Fall 2025
                    </div>

                </div>
            </div>

            <div class="spring col-lg-2">
                <div id="spring1" class="card semester-box">
                    <div class="card-header">
                        Spring 2023
                    </div>
                </div>
                <div id="spring2" class="card semester-box">
                    <div class="card-header">
                        Spring 2024
                    </div>

                </div>

                <div id="spring3" class="card semester-box">
                    <div class="card-header">
                        Spring 2025
                    </div>

                </div>

                <div id="spring4" class="card semester-box">
                    <div class="card-header">
                        Spring 2026
                    </div>

                </div>
            </div>

            <div class="summer col-lg-2">
                <div id="summer1" class="card semester-box">
                    <div class="card-header">
                        Summer 2023
                    </div>


                </div>
                <div id="summer2" class="card semester-box">
                    <div class="card-header">
                        Summer 2024
                    </div>
                </div>

                <div id="summer3" class="card semester-box">
                    <div class="card-header">
                        Summer 2025
                    </div>
                </div>
                <div id="summer4" class="card semester-box">
                    <div class="card-header">
                        Summer 2026
                    </div>
                </div>
            </div>
            <div class="alternative col-lg-2">
                <div id="alternative" class="card semester-box">
                    <div class="card-header">
                        Alternatives
                    </div>
                </div>
            </div>

        </div>
    </div>



    <!--<section class="units-counter">-->
    @* Write code for Units counter here*@
    <!--<label for="units">Units</label>
        <input type="text" id="units" name="units">
        <label for="units_needed">Units Needed</label>
        <input type="text" id="units_needed" name="units_needed">

    </section>-->
</main>
<script src="~/Scripts/CoveredMajors/AddClasses.js"></script>
<script src="~/Scripts/CoveredMajors/ComputerScienceMajor.js"></script>
<script src="~/Scripts/CoveredMajors/BusinessAdministration.js"></script>

@*Add Script Name*@
<script src="~/Scripts/DragDrop.js"></script>
