@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">PepperPlan</h1>
        <p class="lead">PepperPlan Helps you create and edit your 4 year plan. It also you move classes around while checking for prerequisites!</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>*@
    </section>

</main>